    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
   <!-- Main content -->
    <section class="content t10">
        <div style="width: 100%">
            <div style="width: 30%; margin: 0 auto;">
                <div class="col-md-12">
                    <form ng-submit="login()" class="box box-solid bg-light-blue-gradient">
                        <div class="box-header ui-sortable-handle">
                            <i class="fa  fa-dot-circle-o"></i>
                            <h3 class="box-title">Sign In</h3>
                        </div>
                        <div class="box-body">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope f10"></i></span>
                                <input type="text" class="form-control" placeholder="Username" ng-model="form.username">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password" ng-model="form.password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-info pull-right">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
